{
  "plugins": [
    "add-module-exports",
    "transform-object-assign", ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "presets": [
    "es2015",
    "stage-2"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
